<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Items Invoice2</title>
</head>
<body>

<h2>Items Avalible</h2>
<table border="1" cellpadding="5">
    <tr>
        <td><b>Item Id</p></b></td>
        <td><b>Item Description</p></b></td>
        <td><b>Price</p></b></td>
        <td><b>Total Price (with Tax)</p></b></td>
        <td><b>Items in stock</b></td>
    </tr>

    <!--iterate through all the resumes-->
    <th:block th:each="i:${allItems}">
        <tr>
            <td><p th:text="${i.idItem}"></p></td>
            <td><p th:text="${i.description}"></p></td>
            <td><p th:text="${i.price}"></p></td>
            <td><p th:text="${i.totalPrice}"></p></td>
            <td><p th:text="${i.quantity}"></p></td>

        </tr>
    </th:block> <!--a comment-->
</table>
<hr></hr>
<!--enter a way to add a product to their cart-->
<h2>Enter what a product id from the list and a quantity</h2>
<form action="#"
      th:action="@{/listAllItemsShopper}"
      th:object="${customerChoice}"
        method=post>
    <ul>
        ID: <input type="text" th:field="${customerChoice.idChoice}">
        <p></p>
    </ul>
    <ul>
        Quantity: <input type="number" th:field="${customerChoice.qntyChoice}">
        <p></p>
    </ul>
    <p><input type="submit" value="Submit"><input type="reset" value="Clear"></p>
</form>

<hr></hr>



<form action="/">
    <input type="submit" value="Go Home">
</form>
</body>
</html>